<div class="container">
    <div class="row top-tracks">
        <div class="col-12 col-md-3">
            <img
                class="img-thumbnail image-artist"
                [src]="artist .images | withoutImage"
                [alt]="artist .name"
            />
        </div>
        <div class="col-12 col-md-9">
            <h1 class="m-1">{{ artist .name }}</h1>
            <a [routerLink]="[ '/search' ]" class="btn btn-primary m-1">Regresar</a>
            <a class="btn btn-success m-1" [href]="artist.external_urls?.spotify" target="_blank">Abrir en Spotify</a>

            <h2 class="ml-1 mr-1 mt-3 mb-3">Top Tracks</h2>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">#</th>
                        <th scope="col">Track</th>
                        <th scope="col">Popularity</th>
                    </tr>
                </thead>
            <tbody>
                <tr *ngFor="let track of topTracks; let item = index;">
                    <td>
                        <img
                            class="img-thumbnail image-track"
                            [src]="artist .images | withoutImage"
                            [alt]="track .name"
                        />
                    </td>
                    <th scope="row">{{ item + 1 }}</th>
                    <td>
                        <p>{{ track .name }} - {{ track .duration_ms | date:'mm:ss' }}
                        <p>{{ track .album .name }}</p>
                        <div>
                            <audio controls>
                                <source [src]="track .preview_url">
                                    Tu navegador no soporta el componente de audio
                            </audio>
                        </div>
                    </td>
                    <td><p class="text-center track-popularity">{{ track .popularity }}%</p></td>
                </tr>
            </tbody>
            </table>

        </div>
    </div>
</div>
